/* ---------------------------- Geral ---------------------------*/

header {
  width: 100%;
}

header section #nome {
  font-family: 'Libre Baskerville', serif;
  font-size: 2.5rem;
  margin-top: 2.5rem;
  padding-bottom: 2rem;
  border-bottom: 0.124rem solid black;
  margin-left: auto;
  margin-right: auto;
}

header section ul {
  margin: 1rem auto 0;
}

header section ul li {
  display: inline;
  margin: 0 1rem;
}
header section ul li a {
  text-decoration: none;
  color: black;
}

.wid {
  width: 80%;
}

.mid_text {
  text-align: center;
}

/* ---------------------------- Sobre ---------------------------*/

#main_sobre {
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
}

#main_sobre div,
#main_sobre p {
  margin-left: auto;
  margin-right: auto;
}

#main_sobre p {
  padding-top: 2rem;
  width: 70%;
}

#main_sobre img {
  border-radius: 50%;
  width: 18rem;
}

footer {
  text-align: center;
  padding-top: 5rem;
}

/* ---------------------------- Trabalhos ---------------------------*/
#main_trab {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.trabs {
  width: 25rem;
  height: 18rem;
  position: relative;
  display: inline-block;
  margin: 1rem 1rem;
}

.trabs img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.trabs div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.trabs div:hover {
  opacity: 1;
  color: white;
  background: rgba(0, 0, 0, 0.4);
}

/* ---------------------------- Contato ---------------------------*/

#main_contato_div {
  margin: 4rem auto 0 auto;
  width: 90%;
  height: 20rem;
  position: relative;
}

.info_cont {
  width: 50%;
  height: 100%;
  background-color: aqua;
  position: absolute;
}

.img_cont img {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
}

.info_cont p {
  font-family: 'Libre Baskerville', serif;
  font-size: 2rem;
  position: absolute;
  right: 50%;
  top: 50%;
}
